@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
}

main { 
  margin-top:50px;
  min-height: 94vh;
  width: 100%;
  background-color: #132a63

}

section {
  width: 90%;
  min-height: 92vh;
  padding: 4px;
  border-radius: 0px;
}

@media (max-width: 900px) {
  section {
    width: 100%
  }
}

.mask{
  mask-image: url("/cache.png");
  mask-repeat: no-repeat;
  mask-size: cover
}

.active{
  color: rgb(45, 37, 160)
}