@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
}

main {
  margin-top:50px;
  height: 94vh;
  width: full;
  background-color: rgb(184, 179, 179)
}

section {
  width: 85%;
  height: 100%;
  padding: 4px;
  background-color: rgb(42, 42, 49);
  border: solid 4px rgb(127, 236, 250);
  border-radius: 15px;;
}

.mask{
  mask-image: url("/cache.png");
  mask-repeat: no-repeat;
  mask-size: cover
}