@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
}

main {
  margin-top:50px;
  height: 94vh;
  width: full;
  background-color: #3B82F6

}

section {
  width: 85%;
  height: 100%;
  padding: 4px;
  
  border-radius: 15px;
}

.mask{
  mask-image: url("/cache.png");
  mask-repeat: no-repeat;
  mask-size: cover
}